# proyecto 3: datos mundiales covid

## 1- Importación de librerias y llamada a la url

In [29]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [30]:
headers = {
        'USER_AGENT': 'Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:47.0) Gecko/20100101 Firefox/47.0'
    }

In [31]:
url = "https://www.worldometers.info/coronavirus/"

In [32]:
# Hago uns petición Get a la url 
request = requests.get(url, headers=headers)

In [33]:
# Creo un soup de BeautifuSoup con el contenido de la página
# Parse de html
soup = BeautifulSoup(request.content, "html.parser")

## Extración de datos con Beautiful Soup

In [34]:
# Escojo el id de la tabla que quiero scrapear
# Estraigo el código html de esa tabla únicamente
table_covid = soup.find("table", attrs={"id": "main_table_countries_today"})

In [35]:
# Creo una variable general buscando los elementos tr de la tabla
head = table_covid.find_all("tr")

In [36]:
head

[<tr>
 <th width="1%">#</th>
 <th width="100">Country,<br>Other</br></th>
 <th width="20">Total<br>Cases</br></th>
 <th width="30">New<br>Cases</br></th>
 <th width="30">Total<br>Deaths</br></th>
 <th width="30">New<br>Deaths</br></th>
 <th width="30">Total<br>Recovered</br></th>
 <th width="30">New<br>Recovered</br></th>
 <th width="30">Active<br/>Cases</th>
 <th width="30">Serious,<br/>Critical</th>
 <th width="30">Tot Cases/<br/>1M pop</th>
 <th width="30">Deaths/<br/>1M pop</th>
 <th width="30">Total<br/>Tests</th>
 <th width="30">Tests/<br/>
 <nobr>1M pop</nobr>
 </th>
 <th width="30">Population</th>
 <th style="display:none" width="30">Continent</th>
 <th width="30">1 Case<br/>every X ppl</th><th width="30">1 Death<br/>every X ppl</th><th width="30">1 Test<br/>every X ppl</th>
 </tr>,
 <tr class="total_row_world row_continent" data-continent="North America" style="display: none">
 <td></td>
 <td style="text-align:left;">
 <nobr>North America</nobr>
 </td>
 <td>36,564,803</td>
 <td>+18,642</td>
 <td>832,384</td>
 <td>+701</td>
 <td>28,279,084</td>
 <td>+4,935</td>
 <td>7,453,335</td>
 <td>16,042</td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td data-continent="North America" style="display:none;">North America</td>
 <td>
 </td>
 <td></td>
 <td></td>
 </tr>,
 <tr class="total_row_world row_continent" data-continent="South America" style="display: none">
 <td></td>
 <td style="text-align:left;">
 <nobr>South America</nobr>
 </td>
 <td>22,120,500</td>
 <td>+10,392</td>
 <td>583,199</td>
 <td>+156</td>
 <td>19,797,720</td>
 <td>+6,615</td>
 <td>1,739,581</td>
 <td>21,776</td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td data-continent="South America" style="display:none;">South America</td>
 <td>
 </td>
 <td></td>
 <td></td>
 </tr>,
 <tr class="total_row_world row_continent" data-continent="Asia" style="display: none">
 <td></td>
 <td style="text-align:left;">
 <nobr>Asia</nobr>
 </td>
 <td>30,525,580</td>
 <td>+188,659</td>
 <td>443,637</td>
 <td>+1,616</td>
 <td>27,312,741</td>
 <td>+98,463</td>
 <td>2,769,202</td>
 <td>27,433</td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td data-continent="Asia" style="display:none;">Asia</td>
 <td>
 </td>
 <td></td>
 <td></td>
 </tr>,
 <tr class="total_row_world row_continent" data-continent="Europe" style="display: none">
 <td></td>
 <td style="text-align:left;">
 <nobr>Europe</nobr>
 </td>
 <td>41,249,950</td>
 <td>+144,497</td>
 <td>944,701</td>
 <td>+3,510</td>
 <td>29,215,946</td>
 <td>+121,543</td>
 <td>11,089,303</td>
 <td>33,061</td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td data-continent="Europe" style="display:none;">Europe</td>
 <td>
 </td>
 <td></td>
 <td></td>
 </tr>,
 <tr class="total_row_world row_continent" data-continent="Africa" style="display: none">
 <td></td>
 <td style="text-align:left;">
 <nobr>Africa</nobr>
 </td>
 <td>4,355,252</td>
 <td>+1,703</td>
 <td>115,250</td>
 <td>+22</td>
 <td>3,898,899</td>
 <td>+939</td>
 <td>341,103</td>
 <td>3,514</td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td data-continent="Africa" style="display:none;">Africa</td>
 <td>
 </td>
 <td></td>
 <td></td>
 </tr>,
 <tr class="total_row_world row_continent" data-continent="Australia/Oceania" style="display: none">
 <td></td>
 <td style="text-align:left;">
 <nobr>Oceania</nobr>
 </td>
 <td>59,083</td>
 <td>+13</td>
 <td>1,151</td>
 <td></td>
 <td>34,663</td>
 <td>+23</td>
 <td>23,269</td>
 <td>5</td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td data-continent="Australia/Oceania" style="display:none;">Australia/Oceania</td>
 <td>
 </td>
 <td></td>
 <td></td>
 </tr>,
 <tr class="total_row_world row_continent" data-continent="" style="display: none">
 <td></td>
 <td style="text-align:left;">
 <nobr></nobr>
 </td>
 <td>721</td>
 <td></td>
 <td>15</td>
 <td></td>
 <td>706</td>
 <td></td>
 <td>0</td>
 <td>0</td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td data-continent="" style="display:none;"></td>
 <td>
 </td>
 <td></td>
 <td></td>
 </tr>,
 <tr class="total_row_world">
 <td></td>
 <td style="text-align:left;">World</td>
 <td>134,875,889</td>
 <td>+363,906</td>
 <td>2,920,337</td>
 <td>+6,005</td>
 <td>108,539,759</td>
 <td>+232,518</td>
 <td>23,415,793</td>
 <td>101,831</td>
 <td>17,303</td>
 <td>374.7</td>
 <td></td>
 <td></td>
 <td></td>
 <td data-continent="all" style="display:none">All</td>
 <td>
 </td>
 <td></td>
 <td></td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">1</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/us/">USA</a></td>
 <td style="font-weight: bold; text-align:right">31,729,532</td>
 <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+12,128</td>
 <td style="font-weight: bold; text-align:right;">573,988 </td>
 <td style="font-weight: bold;
                                     text-align:right;background-color:red; color:white">+132</td>
 <td style="font-weight: bold; text-align:right">24,273,615</td>
 <td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+746</td>
 <td style="text-align:right;font-weight:bold;">6,881,929</td>
 <td style="font-weight: bold; text-align:right">9,124</td>
 <td style="font-weight: bold; text-align:right">95,429</td>
 <td style="font-weight: bold; text-align:right">1,726</td>
 <td style="font-weight: bold; text-align:right">415,292,004</td>
 <td style="font-weight: bold; text-align:right">1,249,017</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/us-population/">332,494,997</a> </td>
 <td data-continent="North America" style="display:none">North America</td>
 <td>10</td><td>579</td><td>1</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">2</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/brazil/">Brazil</a></td>
 <td style="font-weight: bold; text-align:right">13,286,324</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">345,287 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">11,732,193</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="text-align:right;font-weight:bold;">1,208,844</td>
 <td style="font-weight: bold; text-align:right">8,318</td>
 <td style="font-weight: bold; text-align:right">62,167</td>
 <td style="font-weight: bold; text-align:right">1,616</td>
 <td style="font-weight: bold; text-align:right">28,600,000</td>
 <td style="font-weight: bold; text-align:right">133,820</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/brazil-population/">213,720,582</a> </td>
 <td data-continent="South America" style="display:none">South America</td>
 <td>16</td><td>619</td><td>7</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">3</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/india/">India</a></td>
 <td style="font-weight: bold; text-align:right">13,164,235</td>
 <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+106,281</td>
 <td style="font-weight: bold; text-align:right;">168,203 </td>
 <td style="font-weight: bold;
                                     text-align:right;background-color:red; color:white">+509</td>
 <td style="font-weight: bold; text-align:right">11,964,985</td>
 <td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+54,244</td>
 <td style="text-align:right;font-weight:bold;">1,031,047</td>
 <td style="font-weight: bold; text-align:right">8,944</td>
 <td style="font-weight: bold; text-align:right">9,468</td>
 <td style="font-weight: bold; text-align:right">121</td>
 <td style="font-weight: bold; text-align:right">254,041,584</td>
 <td style="font-weight: bold; text-align:right">182,709</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/india-population/">1,390,419,871</a> </td>
 <td data-continent="Asia" style="display:none">Asia</td>
 <td>106</td><td>8,266</td><td>5</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">4</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/france/">France</a></td>
 <td style="font-weight: bold; text-align:right">4,939,258</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">98,065 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">303,639</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="text-align:right;font-weight:bold;">4,537,554</td>
 <td style="font-weight: bold; text-align:right">5,729</td>
 <td style="font-weight: bold; text-align:right">75,541</td>
 <td style="font-weight: bold; text-align:right">1,500</td>
 <td style="font-weight: bold; text-align:right">68,007,540</td>
 <td style="font-weight: bold; text-align:right">1,040,114</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/france-population/">65,384,711</a> </td>
 <td data-continent="Europe" style="display:none">Europe</td>
 <td>13</td><td>667</td><td>1</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">5</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/russia/">Russia</a></td>
 <td style="font-weight: bold; text-align:right">4,623,984</td>
 <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+9,150</td>
 <td style="font-weight: bold; text-align:right;">102,247 </td>
 <td style="font-weight: bold;
                                     text-align:right;background-color:red; color:white">+402</td>
 <td style="font-weight: bold; text-align:right">4,248,700</td>
 <td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+9,662</td>
 <td style="text-align:right;font-weight:bold;">273,037</td>
 <td style="font-weight: bold; text-align:right">2,300</td>
 <td style="font-weight: bold; text-align:right">31,675</td>
 <td style="font-weight: bold; text-align:right">700</td>
 <td style="font-weight: bold; text-align:right">123,000,000</td>
 <td style="font-weight: bold; text-align:right">842,566</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/russia-population/">145,982,669</a> </td>
 <td data-continent="Europe" style="display:none">Europe</td>
 <td>32</td><td>1,428</td><td>1</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">6</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/uk/">UK</a></td>
 <td style="font-weight: bold; text-align:right">4,370,321</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">126,980 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">3,945,354</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="text-align:right;font-weight:bold;">297,987</td>
 <td style="font-weight: bold; text-align:right">440</td>
 <td style="font-weight: bold; text-align:right">64,118</td>
 <td style="font-weight: bold; text-align:right">1,863</td>
 <td style="font-weight: bold; text-align:right">133,233,062</td>
 <td style="font-weight: bold; text-align:right">1,954,703</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/uk-population/">68,160,254</a> </td>
 <td data-continent="Europe" style="display:none">Europe</td>
 <td>16</td><td>537</td><td>1</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">7</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/italy/">Italy</a></td>
 <td style="font-weight: bold; text-align:right">3,736,526</td>
 <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+18,938</td>
 <td style="font-weight: bold; text-align:right;">113,579 </td>
 <td style="font-weight: bold;
                                     text-align:right;background-color:red; color:white">+718</td>
 <td style="font-weight: bold; text-align:right">3,086,586</td>
 <td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+26,175</td>
 <td style="text-align:right;font-weight:bold;">536,361</td>
 <td style="font-weight: bold; text-align:right">3,603</td>
 <td style="font-weight: bold; text-align:right">61,870</td>
 <td style="font-weight: bold; text-align:right">1,881</td>
 <td style="font-weight: bold; text-align:right">52,480,874</td>
 <td style="font-weight: bold; text-align:right">868,985</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/italy-population/">60,393,289</a> </td>
 <td data-continent="Europe" style="display:none">Europe</td>
 <td>16</td><td>532</td><td>1</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">8</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/turkey/">Turkey</a></td>
 <td style="font-weight: bold; text-align:right">3,689,866</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">33,201 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">3,232,892</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="text-align:right;font-weight:bold;">423,773</td>
 <td style="font-weight: bold; text-align:right">2,615</td>
 <td style="font-weight: bold; text-align:right">43,392</td>
 <td style="font-weight: bold; text-align:right">390</td>
 <td style="font-weight: bold; text-align:right">40,689,742</td>
 <td style="font-weight: bold; text-align:right">478,503</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/turkey-population/">85,035,491</a> </td>
 <td data-continent="Asia" style="display:none">Asia</td>
 <td>23</td><td>2,561</td><td>2</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">9</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/spain/">Spain</a></td>
 <td style="font-weight: bold; text-align:right">3,336,637</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">76,179 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">3,088,946</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="text-align:right;font-weight:bold;">171,512</td>
 <td style="font-weight: bold; text-align:right">2,024</td>
 <td style="font-weight: bold; text-align:right">71,343</td>
 <td style="font-weight: bold; text-align:right">1,629</td>
 <td style="font-weight: bold; text-align:right">43,458,915</td>
 <td style="font-weight: bold; text-align:right">929,230</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/spain-population/">46,768,730</a> </td>
 <td data-continent="Europe" style="display:none">Europe</td>
 <td>14</td><td>614</td><td>1</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">10</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/germany/">Germany</a></td>
 <td style="font-weight: bold; text-align:right">2,965,672</td>
 <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+13,843</td>
 <td style="font-weight: bold; text-align:right;">78,620 </td>
 <td style="font-weight: bold;
                                     text-align:right;background-color:red; color:white">+147</td>
 <td style="font-weight: bold; text-align:right">2,647,600</td>
 <td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+16,200</td>
 <td style="text-align:right;font-weight:bold;">239,452</td>
 <td style="font-weight: bold; text-align:right">4,439</td>
 <td style="font-weight: bold; text-align:right">35,310</td>
 <td style="font-weight: bold; text-align:right">936</td>
 <td style="font-weight: bold; text-align:right">51,559,277</td>
 <td style="font-weight: bold; text-align:right">613,873</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/germany-population/">83,990,125</a> </td>
 <td data-continent="Europe" style="display:none">Europe</td>
 <td>28</td><td>1,068</td><td>2</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">11</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/poland/">Poland</a></td>
 <td style="font-weight: bold; text-align:right">2,528,006</td>
 <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+28,487</td>
 <td style="font-weight: bold; text-align:right;">57,427 </td>
 <td style="font-weight: bold;
                                     text-align:right;background-color:red; color:white">+768</td>
 <td style="font-weight: bold; text-align:right">2,107,776</td>
 <td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+31,272</td>
 <td style="text-align:right;font-weight:bold;">362,803</td>
 <td style="font-weight: bold; text-align:right">3,376</td>
 <td style="font-weight: bold; text-align:right">66,853</td>
 <td style="font-weight: bold; text-align:right">1,519</td>
 <td style="font-weight: bold; text-align:right">12,807,584</td>
 <td style="font-weight: bold; text-align:right">338,694</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/poland-population/">37,814,661</a> </td>
 <td data-continent="Europe" style="display:none">Europe</td>
 <td>15</td><td>658</td><td>3</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">12</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/colombia/">Colombia</a></td>
 <td style="font-weight: bold; text-align:right">2,492,081</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">65,014 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">2,355,832</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="text-align:right;font-weight:bold;">71,235</td>
 <td style="font-weight: bold; text-align:right">2,603</td>
 <td style="font-weight: bold; text-align:right">48,579</td>
 <td style="font-weight: bold; text-align:right">1,267</td>
 <td style="font-weight: bold; text-align:right">13,109,505</td>
 <td style="font-weight: bold; text-align:right">255,550</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/colombia-population/">51,299,093</a> </td>
 <td data-continent="South America" style="display:none">South America</td>
 <td>21</td><td>789</td><td>4</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">13</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/argentina/">Argentina</a></td>
 <td style="font-weight: bold; text-align:right">2,473,751</td>

In [37]:
# Reemplazo los saltos de linea y le aplico un strip() a todos los th de la variable general head
# Todos esos datos los guardo en una lista usando un list comprehension
# Estos datos serán los nombres de las columnas del futuro Data Frame
lst_head = [th.text.replace("\n", "").strip() for th in head[0].find_all("th")]

In [38]:
# Compruebo que se ha cargado correctamente
lst_head

['#',
 'Country,Other',
 'TotalCases',
 'NewCases',
 'TotalDeaths',
 'NewDeaths',
 'TotalRecovered',
 'NewRecovered',
 'ActiveCases',
 'Serious,Critical',
 'Tot\xa0Cases/1M pop',
 'Deaths/1M pop',
 'TotalTests',
 'Tests/1M pop',
 'Population',
 'Continent',
 '1 Caseevery X ppl',
 '1 Deathevery X ppl',
 '1 Testevery X ppl']

In [39]:
# Creo una variable general body que contiene los datos de lo que serán las filas 
# Buscando todos los tr de la tabla html que los contiene en la página web
body_covid = table_covid.tbody.find_all("tr")

In [40]:
# Creo la variable rows a la que mediante un bucle for le pido que añada todos los datos de body enumerados
rows = []
for r in range(1, len(body_covid)):
    row = [tr.text.replace("\n", "").strip()for tr in body_covid[r].find_all("td")]
    rows.append(row)

In [41]:
# Crompobamos que se ha cargado bien
rows

[['',
  'South America',
  '22,120,500',
  '+10,392',
  '583,199',
  '+156',
  '19,797,720',
  '+6,615',
  '1,739,581',
  '21,776',
  '',
  '',
  '',
  '',
  '',
  'South America',
  '',
  '',
  ''],
 ['',
  'Asia',
  '30,525,580',
  '+188,659',
  '443,637',
  '+1,616',
  '27,312,741',
  '+98,463',
  '2,769,202',
  '27,433',
  '',
  '',
  '',
  '',
  '',
  'Asia',
  '',
  '',
  ''],
 ['',
  'Europe',
  '41,249,950',
  '+144,497',
  '944,701',
  '+3,510',
  '29,215,946',
  '+121,543',
  '11,089,303',
  '33,061',
  '',
  '',
  '',
  '',
  '',
  'Europe',
  '',
  '',
  ''],
 ['',
  'Africa',
  '4,355,252',
  '+1,703',
  '115,250',
  '+22',
  '3,898,899',
  '+939',
  '341,103',
  '3,514',
  '',
  '',
  '',
  '',
  '',
  'Africa',
  '',
  '',
  ''],
 ['',
  'Oceania',
  '59,083',
  '+13',
  '1,151',
  '',
  '34,663',
  '+23',
  '23,269',
  '5',
  '',
  '',
  '',
  '',
  '',
  'Australia/Oceania',
  '',
  '',
  ''],
 ['',
  '',
  '721',
  '',
  '15',
  '',
  '706',
  '',
  '0',
  '0',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['',
  'World',
  '134,875,889',
  '+363,906',
  '2,920,337',
  '+6,005',
  '108,539,759',
  '+232,518',
  '23,415,793',
  '101,831',
  '17,303',
  '374.7',
  '',
  '',
  '',
  'All',
  '',
  '',
  ''],
 ['1',
  'USA',
  '31,729,532',
  '+12,128',
  '573,988',
  '+132',
  '24,273,615',
  '+746',
  '6,881,929',
  '9,124',
  '95,429',
  '1,726',
  '415,292,004',
  '1,249,017',
  '332,494,997',
  'North America',
  '10',
  '579',
  '1'],
 ['2',
  'Brazil',
  '13,286,324',
  '',
  '345,287',
  '',
  '11,732,193',
  '',
  '1,208,844',
  '8,318',
  '62,167',
  '1,616',
  '28,600,000',
  '133,820',
  '213,720,582',
  'South America',
  '16',
  '619',
  '7'],
 ['3',
  'India',
  '13,164,235',
  '+106,281',
  '168,203',
  '+509',
  '11,964,985',
  '+54,244',
  '1,031,047',
  '8,944',
  '9,468',
  '121',
  '254,041,584',
  '182,709',
  '1,390,419,871',
  'Asia',
  '106',
  '8,266',
  '5'],
 ['4',
  'France',
  '4,939,258',
  '',
  '98,065',
  '',
  '303,639',
  '',
  '4,537,554',
  '5,729',
  '75,541',
  '1,500',
  '68,007,540',
  '1,040,114',
  '65,384,711',
  'Europe',
  '13',
  '667',
  '1'],
 ['5',
  'Russia',
  '4,623,984',
  '+9,150',
  '102,247',
  '+402',
  '4,248,700',
  '+9,662',
  '273,037',
  '2,300',
  '31,675',
  '700',
  '123,000,000',
  '842,566',
  '145,982,669',
  'Europe',
  '32',
  '1,428',
  '1'],
 ['6',
  'UK',
  '4,370,321',
  '',
  '126,980',
  '',
  '3,945,354',
  '',
  '297,987',
  '440',
  '64,118',
  '1,863',
  '133,233,062',
  '1,954,703',
  '68,160,254',
  'Europe',
  '16',
  '537',
  '1'],
 ['7',
  'Italy',
  '3,736,526',
  '+18,938',
  '113,579',
  '+718',
  '3,086,586',
  '+26,175',
  '536,361',
  '3,603',
  '61,870',
  '1,881',
  '52,480,874',
  '868,985',
  '60,393,289',
  'Europe',
  '16',
  '532',
  '1'],
 ['8',
  'Turkey',
  '3,689,866',
  '',
  '33,201',
  '',
  '3,232,892',
  '',
  '423,773',
  '2,615',
  '43,392',
  '390',
  '40,689,742',
  '478,503',
  '85,035,491',
  'Asia',
  '23',
  '2,561',
  '2'],
 ['9',
  'Spain',
  '3,336,637',
  '',
  '76,179',
  '',
  '3,088,946',
  '',
  '171,512',
  '2,024',
  '71,343',
  '1,629',
  '43,458,915',
  '929,230',
  '46,768,730',
  'Europe',
  '14',
  '614',
  '1'],
 ['10',
  'Germany',
  '2,965,672',
  '+13,843',
  '78,620',
  '+147',
  '2,647,600',
  '+16,200',
  '239,452',
  '4,439',
  '35,310',
  '936',
  '51,559,277',
  '613,873',
  '83,990,125',
  'Europe',
  '28',
  '1,068',
  '2'],
 ['11',
  'Poland',
  '2,528,006',
  '+28,487',
  '57,427',
  '+768',
  '2,107,776',
  '+31,272',
  '362,803',
  '3,376',
  '66,853',
  '1,519',
  '12,807,584',
  '338,694',
  '37,814,661',
  'Europe',
  '15',
  '658',
  '3'],
 ['12',
  'Colombia',
  '2,492,081',
  '',
  '65,014',
  '',
  '2,355,832',
  '',
  '71,235',
  '2,603',
  '48,579',
  '1,267',
  '13,109,505',
  '255,550',
  '51,299,093',
  'South America',
  '21',
  '789',
  '4'],
 ['13',
  'Argentina',
  '2,473,751',
  '',
  '57,122',
  '',
  '2,188,983',
  '',
  '227,646',
  '3,742',
  '54,351',
  '1,255',
  '9,361,097',
  '205,674',
  '45,514,231',
  'South America',
  '18',
  '797',
  '5'],
 ['14',
  'Mexico',
  '2,267,019',
  '+5,140',
  '206,146',
  '+548',
  '1,802,033',
  '+3,376',
  '258,840',
  '4,798',
  '17,442',
  '1,586',
  '6,216,314',
  '47,828',
  '129,972,374',
  'North America',
  '57',
  '630',
  '21'],
 ['15',
  'Iran',
  '2,029,412',
  '+22,478',
  '64,039',
  '+155',
  '1,693,005',
  '+8,435',
  '272,368',
  '4,278',
  '23,927',
  '755',
  '13,494,296',
  '159,098',
  '84,817,252',
  'Asia',
  '42',
  '1,324',
  '6'],
 ['16',
  'Ukraine',
  '1,823,674',
  '+19,676',
  '36,381',
  '+419',
  '1,395,104',
  '+11,221',
  '392,189',
  '177',
  '41,894',
  '836',
  '8,568,004',
  '196,826',
  '43,530,905',
  'Europe',
  '24',
  '1,197',
  '5'],
 ['17',
  'Peru',
  '1,617,864',
  '',
  '53,978',
  '',
  '1,537,085',
  '',
  '26,801',
  '2,246',
  '48,550',
  '1,620',
  '9,790,744',
  '293,806',
  '33,323,855',
  'South America',
  '21',
  '617',
  '3'],
 ['18',
  'Czechia',
  '1,573,153',
  '+5,245',
  '27,617',
  '+60',
  '1,437,295',
  '+332',
  '108,241',
  '1,311',
  '146,691',
  '2,575',
  '14,038,491',
  '1,309,038',
  '10,724,279',
  'Europe',
  '7',
  '388',
  '1'],
 ['19',
  'Indonesia',
  '1,558,145',
  '+5,265',
  '42,348',
  '+121',
  '1,405,659',
  '+6,277',
  '110,138',
  '',
  '5,651',
  '154',
  '13,280,778',
  '48,164',
  '275,743,315',
  'Asia',
  '177',
  '6,511',
  '21'],
 ['20',
  'South Africa',
  '1,554,975',
  '',
  '53,173',
  '',
  '1,480,632',
  '',
  '21,170',
  '546',
  '25,967',
  '888',
  '10,055,899',
  '167,928',
  '59,882,081',
  'Africa',
  '39',
  '1,126',
  '6'],
 ['21',
  'Netherlands',
  '1,334,771',
  '+7,635',
  '16,731',
  '+41',
  'N/A',
  'N/A',
  'N/A',
  '785',
  '77,765',
  '975',
  '10,795,845',
  '628,980',
  '17,164,061',
  'Europe',
  '13',
  '1,026',
  '2'],
 ['22',
  'Chile',
  '1,060,421',
  '+9,151',
  '24,108',
  '+129',
  '991,676',
  '+5,391',
  '44,637',
  '3,075',
  '55,109',
  '1,253',
  '11,751,801',
  '610,730',
  '19,242,232',
  'South America',
  '18',
  '798',
  '2'],
 ['23',
  'Canada',
  '1,036,023',
  '',
  '23,211',
  '',
  '948,521',
  '',
  '64,291',
  '835',
  '27,266',
  '611',
  '28,579,065',
  '752,154',
  '37,996,296',
  'North America',
  '37',
  '1,637',
  '1'],
 ['24',
  'Romania',
  '998,555',
  '+4,942',
  '24,867',
  '+134',
  '896,573',
  '+6,045',
  '77,115',
  '1,496',
  '52,175',
  '1,299',
  '7,630,875',
  '398,717',
  '19,138,587',
  'Europe',
  '19',
  '770',
  '3'],
 ['25',
  'Belgium',
  '913,057',
  '+4,845',
  '23,348',
  '+47',
  '58,902',
  '+334',
  '830,807',
  '908',
  '78,519',
  '2,008',
  '11,571,305',
  '995,088',
  '11,628,425',
  'Europe',
  '13',
  '498',
  '1'],
 ['26',
  'Iraq',
  '911,376',
  '+7,937',
  '14,641',
  '+35',
  '804,772',
  '+5,445',
  '91,963',
  '449',
  '22,277',
  '358',
  '8,428,859',
  '206,026',
  '40,911,681',
  'Asia',
  '45',
  '2,794',
  '5'],
 ['27',
  'Sweden',
  '857,401',
  '',
  '13,621',
  '+33',
  'N/A',
  'N/A',
  'N/A',
  '377',
  '84,492',
  '1,342',
  '7,530,772',
  '742,118',
  '10,147,676',
  'Europe',
  '12',
  '745',
  '1'],
 ['28',
  'Philippines',
  '840,554',
  '+12,225',
  '14,520',
  '+401',
  '647,683',
  '+946',
  '178,351',
  '785',
  '7,593',
  '131',
  '10,632,956',
  '96,053',
  '110,699,135',
  'Asia',
  '132',
  '7,624',
  '10'],
 ['29',
  'Israel',
  '835,674',
  '+188',
  '6,280',
  '+1',
  '825,195',
  '+447',
  '4,199',
  '270',
  '90,858',
  '683',
  '13,729,129',
  '1,492,688',
  '9,197,590',
  'Asia',
  '11',
  '1,465',
  '1'],
 ['30',
  'Portugal',
  '826,327',
  '+694',
  '16,904',
  '+5',
  '783,523',
  '+628',
  '25,900',
  '128',
  '81,221',
  '1,662',
  '9,363,361',
  '920,343',
  '10,173,778',
  'Europe',
  '12',
  '602',
  '1'],
 ['31',
  'Pakistan',
  '710,829',
  '+5,312',
  '15,229',
  '+105',
  '625,789',
  '+2,390',
  '69,811',
  '4,116',
  '3,171',
  '68',
  '10,639,825',
  '47,463',
  '224,171,734',
  'Asia',
  '315',
  '14,720',
  '21'],
 ['32',
  'Hungary',
  '705,815',
  '+7,325',
  '22,966',
  '+285',
  '420,275',
  '+510',
  '262,574',
  '1,364',
  '73,206',
  '2,382',
  '4,861,310',
  '504,210',
  '9,641,434',
  'Europe',
  '14',
  '420',
  '2'],
 ['33',
  'Bangladesh',
  '673,594',
  '+7,462',
  '9,584',
  '+63',
  '568,541',
  '+3,511',
  '95,469',
  '',
  '4,059',
  '58',
  '4,915,758',
  '29,622',
  '165,948,880',
  'Asia',
  '246',
  '17,315',
  '34'],
 ['34',
  'Jordan',
  '659,250',
  '+3,794',
  '7,646',
  '+81',
  '581,170',
  '+4,399',
  '70,434',
  '729',
  '64,124',
  '744',
  '6,269,269',
  '609,798',
  '10,280,889',
  'Asia',
  '16',
  '1,345',
  '2'],
 ['35',
  'Serbia',
  '636,418',
  '+3,405',
  '5,659',
  '+39',
  '545,508',
  '+4,191',
  '85,251',
  '264',
  '73,066',
  '650',
  '3,563,364',
  '409,102',
  '8,710,216',
  'Europe',
  '14',
  '1,539',
  '2'],
 ['36',
  'Switzerland',
  '617,543',
  '+2,519',
  '10,449',
  '+4',
  '557,566',
  '+1,476',
  '49,528',
  '189',
  '70,955',
  '1,201',
  '6,339,396',
  '728,393',
  '8,703,258',
  'Europe',
  '14',
  '833',
  '1'],
 ['37',
  'Austria',
  '571,616',
  '+2,702',
  '9,624',
  '+38',
  '529,191',
  '+3,509',
  '32,801',
  '580',
  '63,191',
  '1,064',
  '26,161,838',
  '2,892,118',
  '9,045,911',
  'Europe',
  '16',
  '940',
  '0'],
 ['38',
  'Morocco',
  '500,323',
  '',
  '8,873',
  '',
  '486,913',
  '',
  '4,537',
  '235',
  '13,433',
  '238',
  '6,065,577',
  '162,851',
  '37,246,137',
  'Africa',
  '74',
  '4,198',
  '6'],
 ['39',
  'Japan',
  '492,875',
  '',
  '9,301',
  '',
  '457,050',
  '',
  '26,524',
  '464',
  '3,906',
  '74',
  '10,244,852',
  '81,194',
  '126,177,823',
  'Asia',
  '256',
  '13,566',
  '12'],
 ['40',
  'Lebanon',
  '489,428',
  '',
  '6,549',
  '',
  '395,261',
  '',
  '87,618',
  '880',
  '71,955',
  '963',
  '3,653,828',
  '537,181',
  '6,801,858',
  'Asia',
  '14',
  '1,039',
  '2'],
 ['41',
  'UAE',
  '480,006',
  '+1,875',
  '1,526',
  '+3',
  '464,971',
  '+1,939',
  '13,509',
  '',
  '48,087',
  '153',
  '39,784,257',
  '3,985,579',
  '9,982,053',
  'Asia',
  '21',
  '6,541',
  '0'],
 ['42',
  'Saudi Arabia',
  '396,758',
  '+904',
  '6,737',
  '+9',
  '382,198',
  '+540',
  '7,823',
  '898',
  '11,262',
  '191',
  '15,676,905',
  '444,999',
  '35,229,096',
  'Asia',
  '89',
  '5,229',
  '2'],
 ['43',
  'Slovakia',
  '369,393',
  '+923',
  '10,411',
  '+89',
  '255,300',
  '',
  '103,682',
  '545',
  '67,634',
  '1,906',
  '2,420,747',
  '443,224',
  '5,461,679',
  'Europe',
  '15',
  '525',
  '2'],
 ['44',
  'Bulgaria',
  '367,376',
  '',
  '14,170',
  '',
  '281,979',
  '',
  '71,227',
  '813',
  '53,181',
  '2,051',
  '2,240,606',
  '324,348',
  '6,908,041',
  'Europe',
  '19',
  '488',
  '3'],
 ['45',
  'Panama',
  '357,704',
  '',
  '6,152',
  '',
  '347,060',
  '',
  '4,492',
  '105',
  '81,915',
  '1,409',
  '2,214,840',
  '507,202',
  '4,366,782',
  'North America',
  '12',
  '710',
  '2'],
 ['46',
  'Malaysia',
  '357,607',
  '+1,854',
  '1,313',
  '+5',
  '341,489',
  '+1,247',
  '14,805',
  '169',
  '10,941',
  '40',
  '8,104,421',
  '247,963',
  '32,683,955',
  'Asia',
  '91',
  '24,893',
  '4'],
 ['47',
  'Ecuador',
  '341,619',
  '',
  '17,115',
  '',
  '290,314',
  '',
  '34,190',
  '582',
  '19,140',
  '959',
  '1,180,328',
  '66,131',
  '17,848,265',
  'South America',
  '52',
  '1,043',
  '15'],
 ['48',
  'Belarus',
  '333,430',
  '+1,622',
  '2,334',
  '+10',
  '323,748',
  '+1,525',
  '7,348',
  '',
  '35,295',
  '247',
  '5,516,682',
  '583,966',
  '9,446,928',
  'Europe',
  '28',
  '4,048',
  '2'],
 ['49',
  'Greece',
  '290,964',
  '+2,734',
  '8,758',
  '+78',
  '245,351',
  '+1,441',
  '36,855',
  '790',
  '28,021',
  '843',
  '6,994,041',
  '673,556',
  '10,383,761',
  'Europe',
  '36',
  '1,186',
  '1'],
 ['50',
  'Croatia',
  '288,364',
  '+2,599',
  '6,235',
  '+50',
  '268,929',
  '+2,116',
  '13,200',
  '175',
  '70,579',
  '1,526',
  '1,619,663',
  '396,420',
  '4,085,720',
  'Europe',
  '14',
  '655',
  '3'],
 ['51',
  'Georgia',
  '287,183',
  '+777',
  '3,858',
  '+9',
  '276,426',
  '+342',
  '6,899',
  '',
  '72,097',
  '969',
  '3,620,829',
  '909,011',
  '3,983,263',
  'Asia',
  '14',
  '1,032',
  '1'],
 ['52',
  'Azerbaijan',
  '281,387',
  '+2,206',
  '3,846',
  '+35',
  '247,459',
  '+1,578',
  '30,082',
  '',
  '27,562',
  '377',
  '2,990,285',
  '292,897',
  '10,209,357',
  'Asia',
  '36',
  '2,655',
  '3'],
 ['53',
  'Nepal',
  '279,388',
  '+288',
  '3,038',
  '',
  '273,735',
  '+127',
  '2,615',
  '',
  '9,459',
  '103',
  '2,306,244',
  '78,078',
  '29,537,740',
  'Asia',
  '106',
  '9,723',
  '13'],
 ['54',
  'Bolivia',
  '279,207',
  '+1,241',
  '12,412',
  '+27',
  '229,036',
  '+1,224',
  '37,759',
  '71',
  '23,672',
  '1,052',
  '965,046',
  '81,818',
  '11,795,066',
  'South America',
  '42',
  '950',
  '12'],
 ['55',
  'Tunisia',
  '266,827',
  '',
  '9,136',
  '',
  '222,461',
  '',
  '35,230',
  '388',
  '22,397',
  '767',
  '1,161,018',
  '97,454',
  '11,913,530',
  'Africa',
  '45',
  '1,304',
  '10'],
 ['56',
  'Palestine',
  '264,395',
  '+2,378',
  '2,812',
  '+31',
  '229,876',
  '+1,888',
  '31,707',
  '190',
  '50,924',
  '542',
  '1,623,732',
  '312,741',
  '5,191,932',
  'Asia',
  '20',
  '1,846',
  '3'],
 ['57',
  'Kazakhstan',
  '263,943',
  '+2,440',
  '3,190',
  '+19',
  '231,324',
  '+1,786',
  '29,429',
  '221',
  '13,929',
  '168',
  '9,051,176',
  '477,660',
  '18,948,974',
  'Asia',
  '72',
  '5,940',
  '2'],
 ['58',
  'Dominican Republic',
  '256,563',
  '+532',
  '3,382',
  '+4',
  '215,726',
  '+321',
  '37,455',
  '155',
  '23,470',
  '309',
  '1,339,875',
  '122,571',
  '10,931,413',
  'North America',
  '43',
  '3,232',
  '8'],
 ['59',
  'Kuwait',
  '242,848',
  '',
  '1,383',
  '',
  '227,260',
  '',
  '14,205',
  '206',
  '56,228',
  '320',
  '2,131,155',
  '493,442',
  '4,318,956',
  'Asia',
  '18',
  '3,123',
  '2'],
 ['60',
  'Ireland',
  '239,723',
  '',
  '4,737',
  '',
  '23,364',
  '',
  '211,622',
  '60',
  '48,136',
  '951',
  '4,153,203',
  '833,959',
  '4,980,105',
  'Europe',
  '21',
  '1,051',
  '1'],
 ['61',
  'Moldova',
  '239,146',
  '',
  '5,307',
  '',
  '219,728',
  '',
  '14,111',
  '319',
  '59,390',
  '1,318',
  '888,444',
  '220,636',
  '4,026,733',
  'Europe',
  '17',
  '759',
  '5'],
 ['62',
  'Denmark',
  '236,346',
  '+698',
  '2,436',
  '',
  '225,255',
  '+647',
  '8,655',
  '37',
  '40,694',
  '419',
  '28,412,565',
  '4,892,056',
  '5,807,898',
  'Europe',
  '25',
  '2,384',
  '0'],
 ['63',
  'Paraguay',
  '229,595',
  '',
  '4,644',
  '',
  '188,340',
  '',
  '36,611',
  '438',
  '31,889',
  '645',
  '957,029',
  '132,926',
  '7,199,729',
  'South America',
  '31',
  '1,550',
  '8'],
 ['64',
  'Slovenia',
  '224,699',
  '+1,279',
  '4,100',
  '+3',
  '206,688',
  '+1,033',
  '13,911',
  '138',
  '108,072',
  '1,972',
  '1,096,266',
  '527,264',
  '2,079,158',
  'Europe',
  '9',
  '507',
  '2'],
 ['65',
  'Lithuania',
  '224,309',
  '+1,155',
  '3,660',
  '+13',
  '204,340',
  '+537',
  '16,309',
  '161',
  '83,297',
  '1,359',
  '2,462,223',
  '914,343',
  '2,692,888',
  'Europe',
  '12',
  '736',
  '1'],
 ['66',
  'Ethiopia',
  '223,665',
  '',
  '3,078',
  '',
  '166,752',
  '',
  '53,835',
  '892',
  '1,909',
  '26',
  '2,422,730',
  '20,683',
  '117,135,713',
  'Africa',
  '524',
  '38,056',
  '48'],
 ['67',
  'Costa Rica',
  '219,846',
  '',
  '3,000',
  '',
  '193,857',
  '',
  '22,989',
  '194',
  '42,856',
  '585',
  '842,015',
  '164,141',
  '5,129,838',
  'North America',
  '23',
  '1,710',
  '6'],
 ['68',
  'Egypt',
  '208,082',
  '',
  '12,323',
  '',
  '157,889',
  '',
  '37,870',
  '90',
  '2,004',
  '119',
  '2,507,491',
  '24,155',
  '103,810,497',
  'Africa',
  '499',
  '8,424',
  '41'],
 ['69',
  'Armenia',
  '201,158',
  '+1,029',
  '3,697',
  '+22',
  '180,160',
  '+1,117',
  '17,301',
  '',
  '67,787',
  '1,246',
  '894,461',
  '301,418',
  '2,967,508',
  'Asia',
  '15',
  '803',
  '3'],
 ['70',
  'Guatemala',
  '199,964',
  '',
  '6,955',
  '',
  '183,131',
  '',
  '9,878',
  '5',
  '11,006',
  '383',
  '1,087,650',
  '59,863',
  '18,169,057',
  'North America',
  '91',
  '2,612',
  '17'],
 ['71',
  'Honduras',
  '193,783',
  '+754',
  '4,715',
  '+12',
  '74,759',
  '+460',
  '114,309',
  '512',
  '19,330',
  '470',
  '533,891',
  '53,255',
  '10,025,234',
  'North America',
  '52',
  '2,126',
  '19'],
 ['72',
  'Qatar',
  '188,100',
  '+950',
  '324',
  '+2',
  '168,534',
  '+533',
  '19,242',
  '433',
  '66,992',
  '115',
  '1,792,416',
  '638,369',
  '2,807,805',
  'Asia',
  '15',
  '8,666',
  '2'],
 ['73',
  'Bosnia and Herzegovina',
  '181,927',
  '+1,096',
  '7,298',
  '+82',
  '139,419',
  '+1,125',
  '35,210',
  '',
  '55,719',
  '2,235',
  '835,478',
  '255,884',
  '3,265,062',
  'Europe',
  '18',
  '447',
  '4'],
 ['74',
  'Venezuela',
  '171,373',
  '',
  '1,720',
  '',
  '154,811',
  '',
  '14,842',
  '237',
  '6,040',
  '61',
  '3,359,014',
  '118,384',
  '28,373,800',
  'South America',
  '166',
  '16,496',
  '8'],
 ['75',
  'Oman',
  '168,005',
  '',
  '1,747',
  '',
  '149,969',
  '',
  '16,289',
  '204',
  '32,274',
  '336',
  '1,550,000',
  '297,753',
  '5,205,662',
  'Asia',
  '31',
  '2,980',
  '3'],
 ['76',
  'Libya',
  '166,888',
  '+732',
  '2,807',
  '+8',
  '152,328',
  '+475',
  '11,753',
  '',
  '24,037',
  '404',
  '905,959',
  '130,487',
  '6,942,910',
  'Africa',
  '42',
  '2,473',
  '8'],
 ['77',
  'Nigeria',
  '163,581',
  '',
  '2,058',
  '',
  '154,005',
  '',
  '7,518',
  '11',
  '779',
  '10',
  '1,803,177',
  '8,585',
  '210,036,726',
  'Africa',
  '1,284',
  '102,059',
  '116'],
 ['78',
  'Bahrain',
  '153,074',
  '',
  '548',
  '',
  '141,911',
  '',
  '10,615',
  '72',
  '87,647',
  '314',
  '3,724,104',
  '2,132,340',
  '1,746,487',
  'Asia',
  '11',
  '3,187',
  '0'],
 ['79',
  'Kenya',
  '143,063',
  '',
  '2,292',
  '',
  '97,650',
  '',
  '43,121',
  '235',
  '2,617',
  '42',
  '1,542,088',
  '28,204',
  '54,675,853',
  'Africa',
  '382',
  '23,855',
  '35'],
 ['80',
  'Myanmar',
  '142,558',
  '+9',
  '3,206',
  '',
  '131,845',
  '+11',
  '7,507',
  '',
  '2,607',
  '59',
  '2,549,607',
  '46,619',
  '54,690,154',
  'Asia',
  '384',
  '17,059',
  '21'],
 ['81',
  'North Macedonia',
  '138,891',
  '',
  '4,108',
  '',
  '112,619',
  '',
  '22,164',
  '124',
  '66,668',
  '1,972',
  '655,924',
  '314,847',
  '2,083,308',
  'Europe',
  '15',
  '507',
  '3'],
 ['82',
  'Uruguay',
  '130,657',
  '',
  '1,275',
  '',
  '101,241',
  '',
  '28,141',
  '437',
  '37,513',
  '366',
  '1,488,362',
  '427,323',
  '3,482,994',
  'South America',
  '27',
  '2,732',
  '2'],
 ['83',
  'Albania',
  '127,509',
  '',
  '2,297',
  '',
  '96,129',
  '',
  '29,083',
  '18',
  '44,345',
  '799',
  '576,337',
  '200,439',
  '2,875,375',
  'Europe',
  '23',
  '1,252',
  '5'],
 ['84',
  'Algeria',
  '118,116',
  '',
  '3,119',
  '',
  '82,289',
  '',
  '32,708',
  '19',
  '2,657',
  '70',
  '230,861',
  '5,193',
  '44,456,826',
  'Africa',
  '376',
  '14,254',
  '193'],
 ['85',
  'Estonia',
  '113,098',
  '+677',
  '1,006',
  '+16',
  '92,862',
  '+1,073',
  '19,230',
  '70',
  '85,214',
  '758',
  '1,186,998',
  '894,348',
  '1,327,222',
  'Europe',
  '12',
  '1,319',
  '1'],
 ['86',
  'S. Korea',
  '108,269',
  '+671',
  '1,764',
  '+6',
  '98,786',
  '+426',
  '7,719',
  '113',
  '2,110',
  '34',
  '8,059,113',
  '157,088',
  '51,303,171',
  'Asia',
  '474',
  '29,083',
  '6'],
 ['87',
  'Latvia',
  '106,574',
  '+658',
  '1,981',
  '+18',
  '97,612',
  '',
  '6,981',
  '87',
  '56,989',
  '1,059',
  '2,003,893',
  '1,071,560',
  '1,870,071',
  'Europe',
  '18',
  '944',
  '1'],
 ['88',
  'Norway',
  '102,379',
  '+878',
  '684',
  '',
  '88,952',
  '',
  '12,743',
  '61',
  '18,772',
  '125',
  '4,824,081',
  '884,534',
  '5,453,809',
  'Europe',
  '53',
  '7,973',
  '1'],
 ['89',
  'Sri Lanka',
  '94,336',
  '',
  '593',
  '',
  '91,044',
  '',
  '2,699',
  '',
  '4,391',
  '28',

In [42]:
# Creo el Data Frame con los datos scrapeados
df_data_covid = pd.DataFrame(rows, columns=lst_head)
# Crompuebo que se ha cargado correctamente con head
df_data_covid.head(10)

,#,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,Population,Continent,1 Caseevery X ppl,1 Deathevery X ppl,1 Testevery X ppl
0,,South America,"22,120,500","+10,392","583,199",+156,"19,797,720","+6,615","1,739,581","21,776",,,,,,South America,,,
1,,Asia,"30,525,580","+188,659","443,637","+1,616","27,312,741","+98,463","2,769,202","27,433",,,,,,Asia,,,
2,,Europe,"41,249,950","+144,497","944,701","+3,510","29,215,946","+121,543","11,089,303","33,061",,,,,,Europe,,,
3,,Africa,"4,355,252","+1,703","115,250",+22,"3,898,899",+939,"341,103","3,514",,,,,,Africa,,,
4,,Oceania,"59,083",+13,"1,151",,"34,663",+23,"23,269",5,,,,,,Australia/Oceania,,,
5,,,721,,15,,706,,0,0,,,,,,,,,
6,,World,"134,875,889","+363,906","2,920,337","+6,005","108,539,759","+232,518","23,415,793","101,831","17,303",374.7,,,,All,,,
7,1,USA,"31,729,532","+12,128","573,988",+132,"24,273,615",+746,"6,881,929","9,124","95,429","1,726","415,292,004","1,249,017","332,494,997",North America,10,579,1
8,2,Brazil,"13,286,324",,"345,287",,"11,732,193",,"1,208,844","8,318","62,167","1,616","28,600,000","133,820","213,720,582",South America,16,619,7
9,3,India,"13,164,235","+106,281","168,203",+509,"11,964,985","+54,244","1,031,047","8,944","9,468",121,"254,041,584","182,709","1,390,419,871",Asia,106,"8,266",5

## Ligero data cleaning sobre el DataFrame

In [43]:
# En la columna country other hay muchos valores duplicados asi que les elimino
world_covid_data.drop_duplicates(subset=["Country,Other"], inplace=True)

In [47]:
# La columna # no aporta información interesante asi que la elimino
world_covid_data = df_data_covid[df_data_covid["#"]!=""].reset_index(drop=True)
world_covid_data.drop(["#"], axis=1, inplace=True)

In [48]:
world_covid_data.head(10)

,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,Population,Continent,1 Caseevery X ppl,1 Deathevery X ppl,1 Testevery X ppl
0,USA,"31,729,532","+12,128","573,988",+132,"24,273,615",+746,"6,881,929","9,124","95,429","1,726","415,292,004","1,249,017","332,494,997",North America,10,579,1
1,Brazil,"13,286,324",,"345,287",,"11,732,193",,"1,208,844","8,318","62,167","1,616","28,600,000","133,820","213,720,582",South America,16,619,7
2,India,"13,164,235","+106,281","168,203",+509,"11,964,985","+54,244","1,031,047","8,944","9,468",121,"254,041,584","182,709","1,390,419,871",Asia,106,"8,266",5
3,France,"4,939,258",,"98,065",,"303,639",,"4,537,554","5,729","75,541","1,500","68,007,540","1,040,114","65,384,711",Europe,13,667,1
4,Russia,"4,623,984","+9,150","102,247",+402,"4,248,700","+9,662","273,037","2,300","31,675",700,"123,000,000","842,566","145,982,669",Europe,32,"1,428",1
5,UK,"4,370,321",,"126,980",,"3,945,354",,"297,987",440,"64,118","1,863","133,233,062","1,954,703","68,160,254",Europe,16,537,1
6,Italy,"3,736,526","+18,938","113,579",+718,"3,086,586","+26,175","536,361","3,603","61,870","1,881","52,480,874","868,985","60,393,289",Europe,16,532,1
7,Turkey,"3,689,866",,"33,201",,"3,232,892",,"423,773","2,615","43,392",390,"40,689,742","478,503","85,035,491",Asia,23,"2,561",2
8,Spain,"3,336,637",,"76,179",,"3,088,946",,"171,512","2,024","71,343","1,629","43,458,915","929,230","46,768,730",Europe,14,614,1
9,Germany,"2,965,672","+13,843","78,620",+147,"2,647,600","+16,200","239,452","4,439","35,310",936,"51,559,277","613,873","83,990,125",Europe,28,"1,068",2

## Creación del csv

In [ ]:
world_covid_data.to_csv('global_data_covid.csv')